/* Estilos gerais da topbar */
.topbar {
    font-family: 'Bahnscrift';
    font-weight:bolder;
    background: linear-gradient(354deg, rgba(95, 96, 94, 0.856) 0%, rgba(0, 0, 0, 1) 5%, rgba(36, 35, 35, 1) 49%, rgba(0, 0, 0, 1) 85%, rgba(95, 96, 94, 0.875) 98%);
    box-shadow: 0 0 1px rgba(15, 146, 26, 0.7), 0 0 3px rgba(15, 146, 26, 0.7), 0 0 10px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
    position: fixed; /* Manter fixo no topo */
    top: 2px;
    left: 0;
    width: 100%;
    z-index: 1001; /* Ficar abaixo da navbar */
    transition: top 0.3s; /* Suavizar a transição de ocultar */
}

/* Links da topbar */
.topbar a {
    color: var(--secondary);
    text-decoration: none;
}

.topbar a:hover,
.topbar a:focus {
    color: var(--light);
}

.topbar i{
    font-size: 25px;
    color: var(--light);
    transition: top 0.3s;
}

.topbar i:hover{
    font-size: 28px;
    color: var(--secondary);
}

.outline-light {
    border-color: #ffcc00;
    box-shadow: 0 0 1px rgba(15, 146, 26, 0.7), 0 0 3px rgba(15, 146, 26, 0.7), 0 0 10px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
}

/* Ajustes para ocultar a topbar ao rolar */
.topbar-hidden {
    top: 45px; /* Ajustar conforme a altura da topbar */
}




